body {
    background: lightgrey;
}

h1 {
    text-align: center;
}

#display {
    background: white;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto; 
    width: 200px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    line-height: 50px;
}